points:
  zones:
    matrix:
      # Fix placement on KiCAD sheet.
      anchor.shift: [100, -100]
      key:
        padding: 1ky
        spread: 1kx
      rotate: 0
      columns:
        pinky:
          rows.bottom.shift: [-2, 0]
        ring.key:
          splay: pinky_splay
          stagger: 7
        middle.key:
          splay: 0
          stagger: 3
        index.key:
          splay: 0
          stagger: -5
        inner:
          key:
            stagger: -4
          rows.top.rotate: 90
      rows:
        bottom.padding: kx
        home.padding: kx
        top.padding: kx
    thumb:
      anchor:
        ref: matrix_middle_bottom
        shift: [7.5, -26]
      columns:
        inner:
          key.name: thumb_inner
        tucky:
          key:
            name: thumb_tucky
            stagger: -2
            splay: -14
            shift: [2, 0]
        reachy:
          key.spread: kx
          key.splay: -14
          key.stagger: 3
          key.origin: [-0.5kx, -0.5kx]
          key.shift: [2.2, 0]
          key.rotate: 90
          key.width: thumb_size * kx
          key.name: thumb_reachy
outlines:
  # ==================== keys ====================
  _thumb:
    - what: rectangle
      where: thumb_reachy
      bound: true
      size: [thumb_size * kx, ky]
  _padded_thumb:
    - what: rectangle
      where: thumb_reachy
      bound: true
      size: [thumb_size * px, py]
  _keys:
    - what: rectangle
      where: true
      size: [kx, ky]
  _padded_keys:
    - what: rectangle
      where: true
      size: [px, py]
  key_outline:
    - name: _keys
    - +_thumb
  _expanded_key_outline:
    - name: _padded_keys
    - +_padded_thumb
  _limits:
    - what: rectangle
      size: [100, 100]
      adjust.shift: [center_x, center_y]
  pcb_outline:
    - what: polygon
      points:
        - shift: [center_x-50, center_y-50+bottom_left_pcb_cut]
        - shift: [0, 100-bottom_left_pcb_cut]
        - shift: [100, 0]
        - shift: [0, -95.25]
        - shift: [-4, -4.75]
        - shift: [-96 + abs(bottom_left_pcb_cut/tan(pinky_splay*pi/180)), 0]
      fillet: 2
  case_outline:
    - what: polygon
      points:
        - shift: [center_x-50-case_left_offset, center_y-50+bottom_left_case_cut]
        - shift: [0, 100-bottom_left_case_cut+case_top_offset]
        - shift: [100 + case_left_offset + case_right_offset, 0]
        - shift: [0, 10-100-case_top_offset]
        - shift: [-12, -14.5]
        - shift: [(-100+12-case_left_offset-case_right_offset) +abs((bottom_left_case_cut+14.5-10)/tan(pinky_splay*pi/180)), 0]
      fillet: 3
  controller_outline:
    - what: rectangle
      size: [33.02, 17.78]
      adjust: 
        shift: [center_x+mcu_x, center_y+mcu_y]
        rotate: mcu_rot
  _mx_hotswap_sockets:
    - what: polygon
      where: true
      points:
        - shift: [-9, -0.5]
        - shift: [0, -3.5]
        - shift: [2.5, 0]
        - shift: [0, -2]
        - shift: [1, -1]
        - shift: [13.5, 0]
        - shift: [0, 4]
        - shift: [-8, 0]
        - shift: [-2.5, 2.5]
  _mx_hotswap_sockets_rev:
    - what: polygon
      where: true
      points:
        - shift: [9, -0.5]
        - shift: [0, -3.5]
        - shift: [-2.5, 0]
        - shift: [0, -2]
        - shift: [-1, -1]
        - shift: [-13.5, 0]
        - shift: [0, 4]
        - shift: [8, 0]
        - shift: [2.5, 2.5]
  _choc_hotswap_sockets:
    - what: polygon
      where: true
      points:
        - shift: [-7.5, 1]
        - shift: [0, 1]
        - shift: [-1.5, 0]
        - shift: [0, 3]
        - shift: [1.5, 0]
        - shift: [0, 1]
        - shift: [3.5, 0]
        - shift: [1.5, 1.5]
        - shift: [0, 1]
        - shift: [4.8, 0]
        - shift: [0, -1]
        - shift: [1.5, 0]
        - shift: [0, -3]
        - shift: [-1.5, 0]
        - shift: [0, -1]
        - shift: [-3.3, 0]
        - shift: [-1.5, -1.5]
        - shift: [0,-1]
  _choc_hotswap_sockets_rev:
    - what: polygon
      where: true
      points:
        - shift: [7.5, 1]
        - shift: [0, 1]
        - shift: [1.5, 0]
        - shift: [0, 3]
        - shift: [-1.5, 0]
        - shift: [0, 1]
        - shift: [-3.5, 0]
        - shift: [-1.5, 1.5]
        - shift: [0, 1]
        - shift: [-4.8, 0]
        - shift: [0, -1]
        - shift: [-1.5, 0]
        - shift: [0, -3]
        - shift: [1.5, 0]
        - shift: [0, -1]
        - shift: [3.3, 0]
        - shift: [1.5, -1.5]
        - shift: [0,-1]

  _gat_hotswap_sockets:
    - what: polygon
      where: true
      points:
        - shift: [-9.5, 2.5]
        - shift: [0, 4.5]
        - shift: [6, 0]
        - shift: [2, 1]
        - shift: [9, 0]
        - shift: [0, -4.5]
        - shift: [-8.5, 0]
        - shift: [-2, -1]
  _gat_hotswap_sockets_rev:
    - what: polygon
      where: true
      points:
        - shift: [9.5, 2.5]
        - shift: [0, 4.5]
        - shift: [-6, 0]
        - shift: [-2, 1]
        - shift: [-9, 0]
        - shift: [0, -4.5]
        - shift: [8.5, 0]
        - shift: [2, -1]

  _mounting_m2:
    - what: circle
      where.shift: [mounting_0_x, mounting_0_y]
      radius: 2.2
  _mounting_m3:
    - what: circle
      where.shift: [mounting_1_x, mounting_1_y]
      radius: 2.7
    - what: circle
      where.shift: [mounting_2_x, mounting_2_y]
      radius: 2.7
    - what: circle
      where.shift: [mounting_3_x, mounting_3_y]
      radius: 2.7
    - what: circle
      where.shift: [mounting_4_x, mounting_4_y]
      radius: 2.7

  display_all_combo:
    - name: pcb_outline
    - ^controller_outline
    - ^_keys
    - ^_mx_hotswap_sockets
    - ^_mx_hotswap_sockets_rev
    - ^_gat_hotswap_sockets
    - ^_gat_hotswap_sockets_rev
    - ^case_outline
    - ^_mounting_m2
    - ^_mounting_m3
  display_all_rotated:
    - name: display_all_combo
      adjust.rotate: pinky_splay
      operation: stack

pcbs:
  board:
    outlines:
      edge:
        outline: pcb_outline
        layer: Edge.Cuts
      mx_hotswap_sockets:
        outline: _mx_hotswap_sockets
        layer: F.SilkS
      mx_hotswap_sockets_rev:
        outline: _mx_hotswap_sockets_rev
        layer: B.SilkS
      lp_hotswap_sockets:
        outline: _gat_hotswap_sockets
        layer: F.SilkS
      lp_hotswap_sockets_rev:
        outline: _gat_hotswap_sockets_rev
        layer: B.SilkS
    footprints:
      keys:
        what: key-switches
        where: true
        params:
          from: "{{name}}"
          to: GND
          mx_spacing:         mx_spacing
          millmax_diameter:   millmax_diameter
          mx:                 mx
          mx_hotswap:         mx_hotswap
          mx_reverse:         mx_reverse
          mx_pth:             mx_pth
          mx_rev_pad:         mx_rev_pad
          gateron_lp:         gateron_lp
          gateron_lp_hotswap: gateron_lp_hotswap
          gateron_lp_reverse: gateron_lp_reverse
          gateron_lp_pth:     gateron_lp_pth
          gateron_lp_rev_pad: gateron_lp_rev_pad
          gateron_lp_neg_y:   gateron_lp_neg_y
          choc:               choc
          choc_hotswap:       choc_hotswap
          choc_millmax:       choc_millmax
          choc_reverse:       choc_reverse
          choc_pth:           choc_pth
          choc_neg_y:         choc_neg_y
          keycaps:            keycaps
      mcu:
        what: promicro-pretty
        where:
          shift: [center_x+mcu_x, center_y+mcu_y]
          rotate: mcu_rot
        params:
          P7: matrix_pinky_top
          P18: matrix_ring_top
          P19: matrix_middle_top
          P20: matrix_index_top
          P21: matrix_inner_top
          P15: matrix_pinky_home
          P14: matrix_ring_home
          P16: matrix_middle_home
          P10: matrix_index_home
          P1: matrix_inner_home
          P2: matrix_pinky_bottom
          P3: matrix_ring_bottom
          P4: matrix_middle_bottom
          P5: matrix_index_bottom
          P6: matrix_inner_bottom
          P8: thumb_tucky
          P9: thumb_reachy
          P0: thumb_inner
          RAW: RAW
      reset:
        what: reset_button
        where:
          shift: [center_x + reset_x, center_y + reset_y]
          rotate: reset_rot
        params:
          from: GND
          to: RST
      reset2:
        what: b3u1000p
        where:
          shift: [center_x + reset_x, center_y + reset_y]
          rotate: 180+reset_rot
        params:
          r2: GND
          r1: RST
      slider_power:
        what: slider_threeway
        where:
          shift: [center_x + power_x, center_y + power_y]
          rotate: power_rot
        params:
          from: Bplus
          left: ''
          right: RAW
          reversible: true
          # if the switch is verticle, reverse the left and right nets on back side
          # or to just make the wiring easier
          reverse_left_right: true 
      jst:
        what: jstph_reversible
        where:
          shift: [center_x+jst_x, center_y+jst_y]
          rotate: jst_rot
        params:
          pos: Bplus
          neg: GND
      mounting_hole_0:
        what: mountinghole
        where.shift: [mounting_0_x, mounting_0_y]
        params:
          drill_size: 2.2
          outer_size: 4.4
      mounting_hole_1:
        what: mountinghole
        where.shift: [mounting_1_x, mounting_1_y]
        params:
          drill_size: 3.2
          outer_size: 5.4
      mounting_hole_2:
        what: mountinghole
        where.shift: [mounting_2_x, mounting_2_y]
        params:
          drill_size: 3.2
          outer_size: 5.4
      mounting_hole_3:
        what: mountinghole
        where.shift: [mounting_3_x, mounting_3_y]
        params:
          drill_size: 3.2
          outer_size: 5.4
      mounting_hole_4:
        what: mountinghole
        where.shift: [mounting_4_x, mounting_4_y]
        params:
          drill_size: 3.2
          outer_size: 5.4